<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>VueJS</title>
</head>
<body>
    <div id="app">
      
        Nom：<input v-model="name">
        Cours：<input v-model="course">
        PériodeDuCours : <input v-model="acceptancePeriod">
        <br>
       
        <button v-on:click="addStudent">Ajouter les étudiants entrés</button>
        <ul>
            
            <li v-for="student in students" v-bind:key="student.id">
              
                ID {{student.id}} /
                Nom {{student.name}} /
                Cours {{student.course}} /
                PériodeDuCours {{student.acceptancePeriod}}
            </li>
        </ul>
    </div>
    <script src="script.js"></script>
</body>
</html>